<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
<link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">

<div class="container-fluid">
  <div class="row social-resume">
    <div class="col-lg-6 col-sm-6">
      <section class="panel">
        <div class="icon-content facebook">
          <i class="fa fa-sitemap"></i>
        </div>
        <div class="value">
          <h1 class="count"><%= Organization.count %></h1>
          <p>Number of Organization</p>
        </div>
      </section>
    </div>
    <div class="col-lg-6 col-sm-6">
      <section class="panel">
        <div class="icon-content google-plus">
          <i class="fa fa-user"></i>
        </div>
        <div class="value">
          <h1 class="count2"><%= Contractor.count %></h1>
          <p>Number of contract staffs</p>
        </div>
      </section>
    </div>
    <div class="col-lg-6 col-sm-6">
      <section class="panel">
        <div class="icon-content twitter">
          <i class="fa fa-user"></i>
        </div>
        <div class="value">
          <h1 class="count3"><%= Employee.count %></h1>
          <p>Number of full time employees</p>
        </div>
      </section>
    </div>
    <div class="col-lg-6 col-sm-6">
      <section class="panel">
        <div class="icon-content youtube">
          <i class="fa fa-money"></i>
        </div>
        <div class="value">
          <h1 class="count4"> <% @pay = Payment.all.to_a %>
            <% payer = @pay.select do |i| %>
                <% i.payment_status == true %>
            <% end %>
            <%= payer.count %></h1>
          <p>Number of staffs paid</p>
        </div>
      </section>
    </div>
  </div>
</div>
</div>

<script src="http://netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script type="text/javascript"></script>
